# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/
build/

# Database
*.sqlite
*.sqlite3
